@import "tailwindcss";

@theme {
  --color-ink-black: #111111;
  --color-paper-white: #f8f8f4;
}

@utility heavy-border {
  border: 3px solid var(--color-ink-black);
}

@utility shadow-solid {
  box-shadow: 4px 4px 0px 0px var(--color-ink-black);
}

@utility bg-dot-pattern {
  background-image: radial-gradient(var(--color-ink-black) 1px, transparent 1px);
  background-size: 20px 20px;
}

@layer base {
  body {
    background-color: var(--color-paper-white);
    color: var(--color-ink-black);
  }
}