name: Djitsostu CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./core

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
          cache-dependency-path: core/yarn.lock

      - name: Install Dependencies
        run: yarn install --frozen-lockfile
        
      - name: Lint & Build Placeholder
        run: echo "Тут буде білд мікросервісів"